.about-us {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
        //    margin-bottom: 50px;
               &__picture-wrap {
                   @include for-size(mobile) {
                       position: absolute;
                       top: 0;
                       width: 100%;
                    height: 100%;
                         background-image: url('../images/orig-mobile.jpg');
            background-repeat: no-repeat;
            z-index: -1;
            opacity: 0.5;
            // background-color: rgba($color: #ffffff, $alpha: 0.5);
                   }
                   width: 50%;
                    height: 100%;
                     background-image: url('../images/orig.jpg');
             background-position: center;
        background-size: cover;
        opacity: 0.8;
               }
              
    &__picture {

        
              position: relative;
              width: 100%;
                height:  100%;
              
    }
    &__text-item {
        
        line-height: 25px;
        margin-bottom: 25px;
    }
    &__text-list {
        margin-right: 150px;
        margin-top: 100px;
        margin-left: 50px;
        @include for-size(mobile) {
  margin: 0;
        }
    } 

    &__text-wrap {
        position: relative;
         
        line-height: 50px;
            width: 100%;
             height:  100%;
          display: flex;
          
                align-items: center;
                justify-content: center;
        position: relative;
        text-align: left;
        font-size: 25px;
        font-weight: 500;
        background: rgba($color: white, $alpha: 0.7);
        padding-right: 50px;
        @include for-size(mobile) {
            text-align: left;
            padding: 20px;
            line-height: 40px;
            text-align: center;
            background: none !important;
        }
      
       
       
    }
    
      &__link {
          text-transform: uppercase;
         font-size: 1.5em;
         text-decoration: none;
         padding: 5px;
         background: #4caf50;
        //  border: 5px solid rgba(56, 142, 60, 0.2);
          padding: 25px;
        
          border-radius: 15px;
             color: white;
         @include for-size(mobile) {
       line-height: 50px;
       vertical-align: middle;
    padding: 0 25px;
        font-size: 1.2em;
        text-align: center;
        &:hover {
             background: yellow;
         }
         }
        
      
    
     }
     &__link-wrap {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50px;
       
        @include for-size(mobile) {
             position: relative;
             top: 0;
        left: 0;
         margin-bottom: 50px;
        }
     }

}

   