.footer {
background-color: black;
color: white;
padding: 5px;

&__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}
&__item {
    margin-bottom: 5px;
           cursor: pointer;
 
}
}