.header {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    // flex-wrap: nowrap;
    text-align: center;
    display: flex;
        justify-content: center;
        align-items: center;
        @include for-size(mobile) {
            margin-bottom: 20px;
                 margin-top: 20px;
        }
    &__text {

    font-size: 1.5em;

    margin-left: 50px;
         @include for-size(mobile) {
            text-align: right;
             margin-left: 20px;
                 font-size: 1em;
        }
    }
   
   
      &__image {
        width: 150px;
        height: auto;
        @include for-size(mobile) {
               width: 100px;
            //    margin: 0 auto;
        }
        // margin-right: 50px;
        // height: 150px;
    }
}
