.header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    // flex-wrap: nowrap;
    text-align: center;
    display: flex;
        justify-content: space-between;
        align-items: center;
        @include for-size(mobile) {
            flex-direction: column;
        }
    &__text {
        font-size: 1.8em;
        width: 100%;
        text-align: right;
        margin-right: 50px;
         @include for-size(mobile) {
            text-align: center;
             margin-right: 0;
        }
    }
   
      &__image {
        width: 200px;
        height: auto;
        @include for-size(mobile) {
               width: 300px;
               margin: 0 auto;
        }
        // margin-right: 50px;
        // height: 150px;
    }
}
